.projects_filter{
    /* background-color: red; */
    width: 100%;
    justify-self: center;
    align-self: center;
}

.projects_filter_item{
    background-color: var(--color-border);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    transition: all 0.25s ease-in-out;
}

.projects_filter_item.selected,
.projects_filter_item:hover{
    transform: scale(1.05);
    letter-spacing: 7px;
    font-weight: 550;
    border-radius: 10px;
}

.projects_filter_item.selected{
    color: var(--color-accent-secondary);
    transform: scale(1);
}