.home_container {
	/* background-color: var(--color-bg-secondary); */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	display: flex; /* Enable Flexbox */
	flex-grow: 1;
	height: 100%;
	
	padding: 50px 50px 20px 50px;
	user-select: none; /* Disable text selection */
	color: var(--color-fg-primary);
	

	.right {
		/* background-color: blue; */
		width: 50%;
		display: flex;
		.ascii_content{
			flex-grow: 1;
			background-color: yellow;
		}

		.projects_favorites{
			height: 20%;
			background-color: red
		}

		.github_calendar{
			height: 30%;
			padding: 5px;
			display:flex;
			justify-content: center;
			align-items: center; /* Center vertically */
			/* background-color: green; */
			overflow-x: auto;
		}
	}
}


