.activity_bar_stack{
    background-color: var(--color-bg-primary);
    width: 100%; /* Full width of the parent container */
    height: 100%; /* Full height of the parent container */
    
}

.activity_bar_icon {
    color:  var(--color-fg-secondary);
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 15px 5px 5px 15px;
    transition: color 0.1s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}

.activity_bar_icon:hover {
    color:var(--color-badge-fg);
    transform: scale(1.1); /* Scale up the icon on hover */
}