.header_stack {
    background-color: yellow;
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Push items to the left and right */
    align-items: center; /* Center items vertically */
    padding: 0 10px; /* Add padding for spacing */
    background-color: var(--color-bg-secondary); /* Optional: Footer background color */
    color: var(--color-fg-primary); /* Optional: Footer text color */
    height: 2.5vh; /* Fixed height for the footer */
    font-size: 0.8rem; /* Adjust font size */
  }
  
.header_left {
  /* background-color: red; */
  text-align: left; /* Align text to the left */
}

.header_right {
  /* background-color: blue; */
  text-align: right; /* Align text to the right */
}

.header_icon{
    width: 21px;
    height: 20px;
    display:flex;
    align-items: center ;
    padding: 3px;

    transition: all 0.3s ease-in-out;
}

.header_icon:hover{
    background-color: var(--color-link-hover);
    border-radius: 10%;
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}