.sidebar_stack{
    /* background-color: red;  */
    flex: 1;
    padding: 0; /* Remove extra padding */
    margin: 0; /* Remove extra margin */
    overflow-y: auto; /* Enable scrolling if content overflows */
    width: 100%;
    height: 100%;
    color: var(--color-fg-primary);
    font-size: 0.8rem;
    cursor: default;
    user-select: none; /* Disable text selection */
}

.sidebar_header{
    /* background-color: red; */
    padding: 5px;
}

.sidebar_content{
    /* background-color: aqua; */
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.sidebar_content_repo{
    padding-left: 5px;
    font-weight: 600;
    font-size: 0.75rem; /* Reduce font size */
}



@media (max-width: 450px){
 

}