
.overlay_component_tooltip_header{
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
    font-weight: 400;
}

.overlay_component_tooltip_body{
    background-color: var(--color-bg-secondary);
    color: var(--color-fg-primary);
    font-size: 0.9rem;
    font-weight: 200;
}   

.overlay_component_tooltip_english{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 0.8rem;
    color: var(--color-fg-secondary);
}