.projects_content {
    position: relative; /* Position relative to the parent container */
    background-color: var(--color-bg-secondary);
    width: 100%;
    max-height: 80vh; /* Ensure it doesn't exceed the parent's height */

    border-radius: 10px;
}

.projects_content_items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px 10px 10px 20px;
    overflow-y: auto; 
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    max-height: 80vh; /* Ensure it doesn't exceed the parent's height */
}

.projects_content_items.disabled{
    pointer-events: none; /* Disable pointer events when the class is applied */
    opacity: 0.5; /* Make it semi-transparent to indicate it's disabled */

}

/* Style the scrollbar for WebKit-based browsers */
.projects_content_items::-webkit-scrollbar {
    width: 7px; /* Width of the vertical scrollbar */
}

.projects_content_items::-webkit-scrollbar-track {
    background: var(--color-bg-secondary); /* Color of the scrollbar track */
    border-radius: 2px; /* Rounded corners for the track */
}

.projects_content_items::-webkit-scrollbar-thumb {
    background: var(--color-accent-secondary); /* Color of the scrollbar thumb */
    border-radius: 7px; /* Rounded corners for the thumb */
}

.projects_content_items::-webkit-scrollbar-thumb:hover {
    background: var(--color-highlight); /* Darker color when hovering over the scrollbar thumb */
}


