.main {
  background-color: var(--color-bg-primary);
}

.sidebar{
  position: sticky; /* Makes the sidebar sticky */
  top: 0; /* Sticks the sidebar to the top of the viewport */
  height: 100%; 
  background-color:  var(--color-bg-secondary);
  box-sizing: border-box; /* Ensures padding is included in the height */
}

