.main {
  background-color: var(--color-bg-primary);
}

.sidebar{
  height: 100vh; 
  background-color:  var(--color-bg-secondary);
  box-sizing: border-box; /* Ensures padding is included in the height */
}
