:root {
    /* Background Colors */
    --color-bg-primary: #0d1117; /* Main background */
    --color-bg-secondary: #161b22; /* Secondary background */
    --color-bg-tertiary: #010409; /* Tertiary background */

    /* Foreground/Text Colors */
    --color-fg-primary: #e6edf3; /* Primary text color */
    --color-fg-secondary: #7d8590; /* Secondary text color */
    --color-fg-accent: #79c0ff; /* Accent text color */

    /* Border Colors */
    --color-border: #30363d; /* Default border color */
    --color-border-secondary: #3a4149; /* Default border color */
    --color-border-accent: #1f6feb; /* Accent border color */

    /* Button Colors */
    --color-button-bg: #2ea043; /* VSCode green button */
    --color-button-bg-hover: #1b692b; /* Darker on hover */
    --color-button-fg: #ffffff; /* Button text (white) */

    /* Badge Colors */
    --color-badge-bg: #1f6feb; /* Badge background */
    --color-badge-fg: #ffffff; /* Badge text color */

    /* Link Colors */
    --color-link: #2f81f7; /* Link color */
    --color-link-hover: #1f6feb; /* Link hover color */

    /* Highlight Colors */
    --color-highlight: #3fb950; /* Highlight color (e.g., success) */
    --color-error: #f85149; /* Error color */
    --color-warning: #d29922; /* Warning color */
    --color-info: #8b949e; /* Info color */

    /* Miscellaneous */
    --color-scrollbar-bg: #8b949e33; /* Scrollbar background */
    --color-scrollbar-hover: #8b949e3d; /* Scrollbar hover background */
    --color-scrollbar-active: #8b949e47; /* Scrollbar active background */

    --color-scrollbar-bg-transparent: rgba(139, 148, 158, 0.041);

    --color-scrollbar-active-thumb: rgba(27, 27, 27, 0.747);
}

body {
    background-color: var(--color-bg-primary); /* Base text */
    font-family: "LXGW WenKai Mono TC", monospace;
}

/* Type hierarchy */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-primary);
}

p,
li,
span {
    color: var(--color-text-primary);
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: var(--color-accent-primary);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-bg-transparent); /* Color of the scrollbar track */
    border-radius: 2px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-active-thumb); /* Color of the scrollbar thumb */
    border-radius: 7px; /* Rounded corners for the thumb */
    opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
    background: var(
        --color-scrollbar-hover
    ); /* Darker color when hovering over the scrollbar thumb */
}
